{% extends 'templates/_base.twig' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col_4 col_m_6 col_s_6">
            <img src="http://placehold.it/600x400">
            <h2>Title</h2>
            <div class="category">Design</div>
        </div>
        <div class="col_4 col_m_6 col_s_6">
            <img src="http://placehold.it/600x400">
            <h2>Title</h2>
            <div class="category">Development</div>
        </div>
        <div class="col_4 col_m_6 col_s_6">
            <img src="http://placehold.it/600x400">
            <h2>Title</h2>
            <div class="category">Design, Development</div>
        </div>
    </div>
</div>


{% endblock %}